@charset "UTF-8";

/* Form */
body {
  font-size: 1.1em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7em;
}

div #formcol1 {
  float: left; 
  width: 100%;
}

fieldset {
  background-color: #fbcb42;
  margin-bottom: 30px;
  border: 4px solid #a07701;
}

h2 {
  font-size: 1.45em;
}

input {
  margin-left: 2em;
}

li {
  list-style-type: none;
}

label {
  clear: left;
  display: block;
  float: left;
  text-align: right;
  white-space: nowrap;
  width: 6.5em;
}

legend {
  background-color: #a07701;
  padding: 7px 10px 5px 10px;
  font-size: 1.3em;
  margin-left: .8em;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active, input:hover, select:hover {
  color: #000;
  background-color: #f1dada;
  border: 3px solid red;
}

/* Special */
#formcol1 input.reqfield {
  background: #ff9;
}

#multichoice input {
  float: left;
  clear: none;
  margin-right: 0.5em;
  width: 1em;
}

#multchoice label {
  float: left;
  clear: none;
  margin-left: 4em;
  margin-right: 1em;
  width: 5em;
  text-align: left;
}

#wrapper {
  margin-left: 4%;
  width: 60%;
}